html[dir='rtl'] {
  direction: rtl;
  unicode-bidi: plaintext;
}

html[dir='rtl'] body {
  direction: rtl;
}

html[dir='rtl'] .flex-row-reverse {
  flex-direction: row-reverse;
}

html[dir='rtl'] .icon-mirror,
html[dir='rtl'] .svg-wrapper {
  transform: scaleX(-1);
}
